{% extends 'base.html' %}
{% block title %}Record New Session{% endblock %}

{% block page_specific_script_tag %}
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
   <script src="/static/tock.js"></script>
   <script src="/static/collect.js"></script>
   <style>
        #laptimes {
            border: 1px solid #ddd;
            padding: 10px;
            width: 200px;
        }
    </style>
    <script>
        window.onload = function() {

            var timer = new Tock({
                callback: function () {
                    $('#clockface').val(timer.msToTime(timer.lap()));
                }
            });

            $('#start').on('click', function () {
                timer.start($('#clockface').val());
            });

            $('#lap').on('click', function () {
                $('#laptimes').append(timer.msToTime(timer.lap()) + '<br>');
            });

            $('#pause').on('click', function () {
                timer.pause();
            });

            $('#stop').on('click', function () {
                timer.stop();
            });

            $('#reset').on('click', function () {
                timer.reset();
                $('#clockface').val('');
                $('#laptimes').html('');
            });

            var countdown = Tock({
                countdown: true,
                interval: 250,
                callback: function () {
                    console.log(countdown.lap() / 1000);
                    $('#countdown_clock').val(timer.msToTime(countdown.lap()));
                },
                complete: function () {
                    console.log('end');
                    alert("Time's up!");
                }
            });

            $('#startCountdown').on('click', function () {
                countdown.start($('#countdown_clock').val());
            });

            $('#pauseCountdown').on('click', function () {
                countdown.pause();
            });

            $('#stopCountdown').on('click', function () {
                countdown.stop();
            });

            $('#resetCountdown').on('click', function () {
                countdown.stop();
                $('#countdown_clock').val('00:02');
            });
        }
    </script>
</head>

{% endblock %}

{% block content %}

<div class="well spaced" style="width:40%;">
<div>
    <h1>Record New session</h1>
   

        <div class="form-group">
            <label>Enter Port Number:
                <input type="text" id="eegPort" name="test" class="form-control"/>
            </label>
        </div>

        <div class="form-group">
            <button id="startRecording" class="btn btn-danger">Start Recording!</button>
        </div> 

        <form action="/users/{{ user_id }}" method="GET">
            <div class="form-group">
                <input type="submit" id="showResults" value="See Results" class="btn btn-default" style="display:none">
            </div> 
        </form>

    <div id="countdown" style="display:none">
        <h2>Countdown</h2>
        <p>
<!--             <button id="startCountdown">Start</button> 
            <button id="stopCountdown">Stop</button> 
            <button id="pauseCountdown">Pause</button> 
            <button id="resetCountdown">Reset</button>  -->
            <input id="countdown_clock" placeholder="00:00" value="00:60">
        </p>
    </div>


<!--         <div class="form-group">
            <input type="submit" id="startRecording" value="Start Recording!" class="btn btn-danger">
        </div>  -->

<!-- # put a TEST listener on the start button in javascript / in the listener, it's going to 
do an AJAX call to my route and the route will call the function and pass it the port number -->


        <!-- <div class="form-group">
            <label>Password:
                <input type="password" name="password" required class="form-control">
            </label>
        </div>

        <div class="form-group">
            <input type="submit" value="Log In" class="btn btn-danger">
        </div> -->

    </form>
</div>
</div>

{% endblock %}