{% extends 'base.html' %}
{% block title %}Lama Log{% endblock %}

{% block content %}
	<div id="homepage-block">
        <!-- Header -->
   <a name="about"></a>
   <div class="intro-header">
       <div class="container">

           <div class="row">
               <div class="col-lg-12">
                   <div class="intro-message">
                        <center>
                        <a href=""><img src="../static/LamaState.png" width="725" height="200" id="lamastate"></a>
                       <h2 id="tagline">What's your mental calm?</h1>
                        <h3>Find your inner lama.</h3>
                         </center>
                         
                   </div>
                   <!-- /.intro-message -->
               </div>
               <!-- /.col-lg-12 -->
           </div>
             <!-- /.row -->
       </div>
       <!-- /.container -->

   </div>
	</div>


    
{% endblock %}