{% extends 'base.html' %}
{% block title %}Top 10{% endblock %}

{% block content %}
<div class="container">
<div class="well spaced" style="width:70%;">
  <h2>Top Lamas: Leaderboard</h2>
  <p></p>            
  <table class="table">
    <thead>
      <tr>
        <th>Number</th>
        <th>High Score</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
        {% set counter = 0 %}
        {% for score in top10 %}
        <tr>
            
            <td>{{ counter + 1 }}</td>
            <td>{{ score.meditation_high_score }}</td>
            <td>{{ users[counter].email }}</td>
            {% set counter = counter + 1 %}
        </tr>
        {%  endfor %}

    </tbody>
  </table>
</div>
</div>
    
{% endblock %}